<div id="navContainer">
  <div id="navLeftSide">
    <%= link_to 'W. Acevedo', root_path, id: 'navName' %> |
    <span id="navProfession"> WEB DEVELOPER </span>
    <div id="day-night">
      <div><%= image_tag 'icons/sun-regular.svg', :id => 'dayMode', :class => 'svg-icons' %></div> |
      <div><%= image_tag 'icons/moon-regular.svg', :id => 'nightMode', :class => 'svg-icons' %></div>
    </div>
  </div>
  <div id="navRightSideContainer">
    <div id="navToggler">
      <span id="navMenuToggler"><i class="fa fa-bars nav_rotate_close"></i></span>
    </div>
    <% if user_signed_in? %>
      <div class="username">
      <%= current_user.email %> - 
      </div>
    <% end %>
    <div id="navMenu">
      <%= link_to 'CV', cv_path %>
      <% if user_signed_in? %>
        <%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to 'LOGIN', new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
